@font-face {
	font-family: "fonts.icons";
	src: url('../fonts/fonts.icons.eot');
	src: url('../fonts/fonts.icons.eot?#iefix') format('eot'),
		url('../fonts/fonts.icons.woff2') format('woff2'),
		url('../fonts/fonts.icons.woff') format('woff'),
		url('../fonts/fonts.icons.ttf') format('truetype'),
		url('../fonts/fonts.icons.svg#fonts.icons') format('svg');
}

@mixin icn-styles {
	font-family: "fonts.icons" !important;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;

	display: block;
    font: normal normal normal 14px/1 "fonts.icons";
    font-size: inherit;
}

%icn {
	@include icn-styles;
}

@function icn-char($filename) {
	$char: "";

	@if $filename == angle-down {
		$char: "\E001";
	}
	@if $filename == angle-left {
		$char: "\E002";
	}
	@if $filename == angle-right {
		$char: "\E003";
	}
	@if $filename == angle-up {
		$char: "\E004";
	}
	@if $filename == bars {
		$char: "\E005";
	}
	@if $filename == checkbox {
		$char: "\E006";
	}
	@if $filename == close {
		$char: "\E007";
	}
	@if $filename == facebook {
		$char: "\E008";
	}
	@if $filename == linkedin {
		$char: "\E009";
	}
	@if $filename == radio {
		$char: "\E00A";
	}
	@if $filename == twitter {
		$char: "\E00B";
	}
	@if $filename == youtube {
		$char: "\E00C";
	}

	@return $char;
}

@mixin icn($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icn;
		} @else {
			@include icn-styles;
		}
		content: icn-char($filename);
	}
}

.icn-angle-down {
	@include icn(angle-down);
}
.icn-angle-left {
	@include icn(angle-left);
}
.icn-angle-right {
	@include icn(angle-right);
}
.icn-angle-up {
	@include icn(angle-up);
}
.icn-bars {
	@include icn(bars);
}
.icn-checkbox {
	@include icn(checkbox);
}
.icn-close {
	@include icn(close);
}
.icn-facebook {
	@include icn(facebook);
}
.icn-linkedin {
	@include icn(linkedin);
}
.icn-radio {
	@include icn(radio);
}
.icn-twitter {
	@include icn(twitter);
}
.icn-youtube {
	@include icn(youtube);
}