%svg-common {
	background: url("../img/sprite-88e4a17f.svg") no-repeat;
}

.icon-instagram {
	@extend %svg-common;
	background-position: 0 0;
}

.icon-instagram-size {
	width: 28px;
	height: 28px;
}

.icon-telegram {
	@extend %svg-common;
	background-position: 100% 0;
}

.icon-telegram-size {
	width: 28px;
	height: 28px;
}

.icon-vk {
	@extend %svg-common;
	background-position: 0 100%;
}

.icon-vk-size {
	width: 28px;
	height: 28px;
}

.icon-whatsApp {
	@extend %svg-common;
	background-position: 100% 100%;
}

.icon-whatsApp-size {
	width: 28px;
	height: 28px;
}

