=resetAadvanced ()
    *, *:after, *:before
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        padding: 0
        margin: 0
        &:focus
            outline: none
    select,
    button, 
    [type="submit"],
    [type="button"]
        -webkit-appearance: none
        -moz-appearance: none 
        appearance: none
        cursor: pointer

    
    select::-ms-expand
        display: none

    [type="number"]::-webkit-inner-spin-button, 
    [type="number"]::-webkit-outer-spin-button
        -webkit-appearance: none
        margin: 0
    [type="number"]
        -moz-appearance: textfield

    body
        font-family: $beasFont
        font-size: 14px

=typography()
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
        font-weight: bold
    h1, .h1
        font-size: 26px
    h2, .h2
        font-size: 24px
    h3, .h3
        font-size: 22px
    h4, .h4
        font-size: 20px
    h5, .h5
        font-size: 18px
    h6, .h6
        font-size: 16px

    p, em, strong
        font-size: inherit

    em
        font-style: italic
    
    strong
        font-weight: bold
    
    p, ol, ul
        margin-bottom: 20px

    ol, ul
        padding-left: 20px

    ul 
        list-style: disc

    ul li
        list-style: disc
        
    ol 
        list-style-type: decimal
    
    ol li
        list-style-type: decimal
         
    table
        width: 100%
        
    th, td
        border: 1px solid #ccc
        padding: 5px 10px
        font-size: 16px
        
    [class^="icn-"]
        -moz-osx-font-smoothing: grayscale
        -webkit-font-smoothing: antialiased
        display: inline-block
        font-style: normal
        font-variant: normal
        text-rendering: auto
        line-height: 1   

    [class^="icon-"]
        display: inline-block

=retina($url, $ext)
    background-image: url($url+$ext)
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi)
        background-image: url($url+'@2x'+$ext)
    
=rl()
    padding-left: 0
    margin-bottom: 0
    li
        list-style: none
