%header.header  
    .container
        .row
            .col-sm-12
                //%h1 
                //    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                //%button.button button
        
                