!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        %div{:style => "max-width: 1140px; margin: 40px auto; padding-left: 15px; padding-right: 15px;"}
            
            %h3{:style => "margin-bottom: 20px; color: #0087ff"} 
                Heading
            
            %h1{:style => "margin-bottom: 10px"} Heading 1
            %h2{:style => "margin-bottom: 10px"} Heading 2
            %h3{:style => "margin-bottom: 10px"} Heading 3
            %h4{:style => "margin-bottom: 10px"} Heading 4
            %h5{:style => "margin-bottom: 10px"} Heading 5
            %h6{:style => "margin-bottom: 10px"} Heading 6
            
        %div{:style => "max-width: 1140px; margin: 40px auto; padding-left: 15px; padding-right: 15px;"}
            %h3{:style => "margin-bottom: 20px; color: #0087ff"} 
                Typography
            %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eius voluptatem optio architecto nesciunt minus blanditiis dolore voluptate at cumque autem saepe possimus repellat harum aliquid, rem, consectetur exercitationem perferendis!
                %strong bold text
                ,
                %em italic text
                ,
                %u underline text
                ,
                %del overliner text
                ,
                %a{:href => ""} Link
        %div{:style => "max-width: 1140px; margin: 40px auto; padding-left: 15px; padding-right: 15px;"}
            .el-rows
                .el-cols.w50
                    %h3{:style => "margin-bottom: 20px; color: #0087ff"} 
                        Unordered list
                    %ul
                        %li 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eius voluptatem optio architecto nesciunt minus blanditiis dolore !
                        %li 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eius voluptatem optio architecto nesciunt minus blanditiis dolore !
                .el-cols.w50
                    %h3{:style => "margin-bottom: 20px; color: #0087ff"} 
                        Ordered list 
                    %ol
                        %li 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eius voluptatem optio architecto nesciunt minus blanditiis dolore !
                        %li 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eius voluptatem optio architecto nesciunt minus blanditiis dolore !
        %div{:style => "max-width: 1140px; margin: 40px auto; padding-left: 15px; padding-right: 15px;"}
            %h3{:style => "margin-bottom: 20px; color: #0087ff"} 
                Table
            %table{:cellspacing => "0"}
                %thead
                    %tr
                        %th table th
                        %th table th
                        %th table th
                        %th table th
                        %th table th
                %tbody
                    - (1..5).each do |i|
                        %tr
                            %td 
                                table td
                            %td 
                                %strong table td
                            %td 
                                %em table td
                            %td 
                                %del table td
                            %td 
                                %a{:href => ""} table td
        %div{:style => "max-width: 1140px; margin: 40px auto; padding-left: 15px; padding-right: 15px;"}    
            .el-rows
                .el-cols.w50
                    %h3{:style => "margin-bottom: 20px; color: #0087ff"} 
                        Font Icons 
                    %div{:style => "font-size: 16px; column-count: 2"}
                        %div
                            %i.icn-angle-down
                            %span{:style => "display: inline-block; vertical-align: middle; margin-left: 5px; position: relative; top: -5px;"} icn-angle-down
                        %div
                            %i.icn-angle-left
                            %span{:style => "display: inline-block; vertical-align: middle; margin-left: 5px; position: relative; top: -5px;"} icn-angle-left
                        %div
                            %i.icn-angle-right
                            %span{:style => "display: inline-block; vertical-align: middle; margin-left: 5px; position: relative; top: -5px;"} icn-angle-right
                        %div
                            %i.icn-angle-up
                            %span{:style => "display: inline-block; vertical-align: middle; margin-left: 5px; position: relative; top: -5px;"} icn-angle-up
                        %div
                            %i.icn-bars
                            %span{:style => "display: inline-block; vertical-align: middle; margin-left: 5px; position: relative; top: -5px;"} icn-bars
                        %div
                            %i.icn-close
                            %span{:style => "display: inline-block; vertical-align: middle; margin-left: 5px; position: relative; top: -5px;"} icn-close
                        %div
                            %i.icn-checkbox
                            %span{:style => "display: inline-block; vertical-align: middle; margin-left: 5px; position: relative; top: -5px;"} icn-checkbox
                        %div
                            %i.icn-radio
                            %span{:style => "display: inline-block; vertical-align: middle; margin-left: 5px; position: relative; top: -5px;"} icn-radio
                        %div
                            %i.icn-facebook
                            %span{:style => "display: inline-block; vertical-align: middle; margin-left: 5px; position: relative; top: -5px;"} icn-facebook
                        %div
                            %i.icn-twitter
                            %span{:style => "display: inline-block; vertical-align: middle; margin-left: 5px; position: relative; top: -5px;"} icn-twitter
                        %div
                            %i.icn-linkedin
                            %span{:style => "display: inline-block; vertical-align: middle; margin-left: 5px; position: relative; top: -5px;"} icn-linkedin
                        %div
                            %i.icn-youtube
                            %span{:style => "display: inline-block; vertical-align: middle; margin-left: 5px; position: relative; top: -5px;"} icn-youtube
                .el-cols.w50
                    %h3{:style => "margin-bottom: 20px; color: #0087ff"} 
                        Sprite Icons 
                    %div
                        %i.icon-instagram.icon-instagram-size 
                        %i.icon-telegram.icon-telegram-size 
                        %i.icon-vk.icon-vk-size 
                        %i.icon-whatsApp.icon-whatsApp-size 



        %div{:style => "max-width: 1140px; margin: 40px auto; padding-left: 15px; padding-right: 15px;"}          
            %h3{:style => "margin-bottom: 20px; color: #0087ff"} 
                Form elements
            .el-rows
                .el-cols.w50
                    .field-case
                        %label.field-name Field Name
                        %input.field{:type => "text", :placeholder => "Default Field"}/
                        %span.field-help
                    .field-case.invalid
                        %label.field-name Field Name
                        %input.field{:type => "text", :placeholder => "Default Field", :value => "Field Invalid"}/
                        %span.field-help This field is required
                    .field-case
                        %label.field-name Field Name
                        %input.field{:type => "text", :disabled => "", :placeholder => "Disabled Field"}/
                        %span.field-help

                    .field-case
                        %label.field-name Field Name
                        %input.field.field-with-icon{:type => "text", :placeholder => "Field With Icon"}/
                        %i.field-icon.icn-twitter
                        %span.field-help
                    .field-case.invalid
                        %label.field-name Field Name
                        %input.field.field-with-icon{:type => "text", :placeholder => "Field With Icon", :value => "Field Invalid"}/
                        %i.field-icon.icn-twitter
                        %span.field-help This field is required
                    .field-case
                        %label.field-name Field Name
                        %input.field.field-with-icon{:type => "text", :disabled => "", :placeholder => "Field With Icon"}/
                        %i.field-icon.icn-twitter
                        %span.field-help

                    
                    
                    
                

                .el-cols.w50
                    .field-case
                        %label.field-name Field name
                        %select.field{:name => ""}
                            %option{:value => ""} Select One...
                            - (1..5).each do |i|
                                %option{:value => "Selected#{i}"} Select Me #{i}
                        .field-appearance
                        %span.field-help
                    .field-case.invalid
                        %label.field-name Field name
                        %select.field{:name => ""}
                            %option{:value => ""} Select One...
                            - (1..5).each do |i|
                                %option{:value => "Selected#{i}"} Select Me #{i}
                        .field-appearance
                        %span.field-help This field is required
                    .field-case
                        %label.field-name Field name
                        %select.field{:name => "", :disabled => ""}
                            %option{:value => ""} Select One...
                            - (1..5).each do |i|
                                %option{:value => "Selected#{i}"} Select Me #{i}
                        .field-appearance
                        %span.field-help
                        

                    .field-case
                        %label.field-name Field name
                        %select.field.field-with-icon{:name => ""}
                            %option{:value => ""} Select One...
                            - (1..5).each do |i|
                                %option{:value => "Selected#{i}"} Select Me #{i}
                        %i.field-icon.icn-twitter
                        .field-appearance
                        %span.field-help
                    .field-case.invalid
                        %label.field-name Field name
                        %select.field.field-with-icon{:name => ""}
                            %option{:value => ""} Select One...
                            - (1..5).each do |i|
                                %option{:value => "Selected#{i}"} Select Me #{i}
                        %i.field-icon.icn-twitter
                        .field-appearance
                        %span.field-help This field is required
                    .field-case
                        %label.field-name Field name
                        %select.field.field-with-icon{:name => "", :disabled => ""}
                            %option{:value => ""} Select One...
                            - (1..5).each do |i|
                                %option{:value => "Selected#{i}"} Select Me #{i}
                        %i.field-icon.icn-twitter
                        .field-appearance
                        %span.field-help

                    
                .el-cols.w50
                    .field-case
                        %label.field-name Field name
                        %textarea.field{:name => "", :placeholder => "Textarea"}
                        %span.field-help
                .el-cols.w50 
                    .field-case.invalid
                        %label.field-name Field name
                        %textarea.field{:name => "", :placeholder => "Textarea"}
                        %span.field-help This field is required
                

                .el-cols.w50
                    .field-case
                        .field-name Field name
                        %label.check-case
                            %input{:type => "checkbox", :name => ""}/
                            %i.icn-checkbox.checkboxes
                            %span.check-name 
                                I am checkbox default
                        %span.field-help
                    .field-case.invalid
                        .field-name Field name
                        %label.check-case
                            %input{:type => "checkbox", :name => ""}/
                            %i.icn-checkbox.checkboxes
                            %span.check-name 
                                I am checkbox invalid
                        %span.field-help This field is required
                    .field-case
                        .field-name Field name
                        %label.check-case
                            %input{:type => "checkbox", :name => "", :disabled => ""}/
                            %i.icn-checkbox.checkboxes
                            %span.check-name 
                                I am checkbox disabled
                        %span.field-help 
                    .field-case
                        .field-name Field name
                        %label.check-case
                            %input{:type => "checkbox", :name => "", :disabled => "", :checked => ""}/
                            %i.icn-checkbox.checkboxes
                            %span.check-name 
                                I am checkbox disabled and checked
                        %span.field-help 
                .el-cols.w50
                    .field-case
                        .field-name Field name
                        %label.check-case
                            %input{:type => "radio", :name => ""}/
                            %i.icn-radio.radios
                            %span.check-name 
                                I am radio default
                        %span.field-help
                    .field-case.invalid
                        .field-name Field name
                        %label.check-case
                            %input{:type => "radio", :name => ""}/
                            %i.icn-radio.radios
                            %span.check-name 
                                I am radio invalid
                        %span.field-help This field is required
                    .field-case
                        .field-name Field name
                        %label.check-case
                            %input{:type => "radio", :name => "", :disabled => ""}/
                            %i.icn-radio.radios
                            %span.check-name 
                                I am radio disabled
                        %span.field-help 
                    .field-case
                        .field-name Field name
                        %label.check-case
                            %input{:type => "radio", :name => "", :disabled => "", :checked => ""}/
                            %i.icn-radio.radios
                            %span.check-name 
                                I am radio disabled and checked
                        %span.field-help 

                    
                    
        %div{:style => "max-width: 1140px; margin: 40px auto; padding-left: 15px; padding-right: 15px;"}
            %h3{:style => "margin-bottom: 20px; color: #0087ff"} 
                Buttons
            
            %button.btns.btns-primary{:style => "margin: 5px"} Button Priamary 
            %button.btns.btns-primary{:style => "margin: 5px"} 
                %i.icn-twitter
                Button Priamary 
            %button.btns.btns-primary{:style => "margin: 5px"} 
                Button Priamary 
                %i.icn-linkedin
            %button.btns.btns-primary.disabled{:style => "margin: 5px"} Button Disabled 
            

        //=include components/_footer.haml