!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        .container
            .row
                .col-sm-12
                    %form.someFm(action="")
                        .field-case
                            %label.field-name Field Name
                            %input.field(type="text" placeholder="Default Field" required )/
                            %span.field-help 
                        %input.btns.btns-primary(href="" type="submit")

                    %form.someFm(action="")
                        .field-case
                            %label.field-name Field Name
                            %input.field(type="text" name="name" placeholder="Default Field" required)/
                            %span.field-help 
                        .field-case
                            %label.field-name Field Name
                            %input.field(type="email" name="email" 
                                placeholder="Default Field" 
                                required 
                                data-rule-vemail="true")/
                            %span.field-help 
                        %input.btns.btns-primary(href="" type="submit") 
                        

        //=include components/_footer.haml
    