.btns
    background: none
    border: none

    display: inline-flex 
    align-items: center
    vertical-align: top
    user-select: none


    font-size: 14px
    font-weight: normal
    
    border-radius: 4px
    padding: 10px 25px

    [class^="icn-"]
        margin: 0 5px
        font-size: .9em

    &-block
        width: 100%
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: center
        margin: 0 auto

    &-primary 
        color: #fff
        box-shadow: 0 5px 10px rgba(33, 91, 169, 0.3)
        background-color: #1c6fde
        
        &:hover
            background-color: #2b7fef
            color: #fff
        &:focus, &:active
            background-color: #0f60ce
            color: #fff

    &[disabled], &.disabled
        background-color: #616463 
        pointer-events: none
        box-shadow: none
        color: rgba(255,255,255,0.5)
