$bgColor: #fff
$bdColor: #ccc
$color: #272727

$bgColorFocus: #fff
$bdColorFocus: #007bff
$colorFocus: #272727

$bgColorError: #fff
$bdColorError: #d0021b
$colorError: #d0021b

$bgColorDisabled: #f7f7f7
$bdColorDisabled: #ccc
$colorDisabled: #ccc

$radius: 3px
$inputSize: 40px
$inputSpace: 15px
$iconSize: 20px

.field-name
    flex: 1 1 100%
    margin-bottom: 8px
    font-weight: normal
    font-size: 14px
    line-height: 1
    order: -1 

.field-help
    flex: 1 1 100%
    min-height: 20px
    font-size: 10px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    & > * 
        margin: 0
        font-size: inherit

.field-icon
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    height: $inputSize
    margin-left: $inputSpace
    order: -1
    pointer-events: none
    font-size: $iconSize
    color: $color
    margin-bottom: -$inputSize
    position: relative 
    z-index: 1 

.field-appearance
    margin-left: auto
    margin-right: $inputSpace
    margin-bottom: -$inputSize
    height: $inputSize
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    order: -1
    pointer-events: none
    color: $color
    position: relative 
    z-index: 1 
    &:before
        content: ''
        border: 5px solid $color  
        border-left-color: transparent
        border-right-color: transparent
        border-bottom: none

.field
    flex: 1 1 100%
    width: 100%

    height: $inputSize
    border-radius: $radius
    
    border: 1px solid $bdColor
    background-color: $bgColor 
    padding: 0 $inputSpace
    color: $color

    font-size: 14px
    line-height: 40px
    
    &-with-icon
        padding-left: $inputSpace + $inputSpace + $iconSize

    &::-webkit-input-placeholder
        opacity: 0.2
        color: $color
    &::-moz-placeholder
        opacity: 0.2
        color: $color
    &:-ms-input-placeholder
        opacity: 0.2
        color: $color
    &:-moz-placeholder
        opacity: 0.2
        color: $color

    &:focus
        border: 1px solid #79b0f8
        outline: none

        &::-webkit-input-placeholder
            color: rgba(0,0,0,0)
        &::-moz-placeholder
            color: rgba(0,0,0,0)
        &:-ms-input-placeholder
            color: rgba(0,0,0,0)
        &:-moz-placeholder
            color: rgba(0,0,0,0)
        
        & ~ .field-icon
            color: $bdColorFocus
        & ~ .field-appearance:before
            border-top-color: $bdColorFocus
    
    
    &.disabled, &[disabled]
        border: 1px solid $bdColorDisabled
        color: $colorDisabled
        background: $bgColorDisabled
        
        & ~ .field-icon
            color: $bdColorDisabled
        & ~ .field-appearance:before
            border-top-color: $bdColorDisabled

select.field
    padding-right: $inputSpace + $inputSpace + 10px
        

textarea.field
    padding: 10px $inputSpace
    resize: none
    line-height: 1.5
    height: 120px

$checkSize: 15px

.checkboxes, .radios
    flex: 0 0 $checkSize
    height: $checkSize
    border-radius: 3px
    margin-right: 8px
    border: 1px solid $bdColor
    background-color: $bgColor
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: center
    font-size: 7px
    color: $color
    &:before
        opacity: 0

.radios
    border-radius: 50%
    &:before
        margin-left: 1px

.check-case
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: flex-start
    flex: 1 1 100%
    cursor: pointer
    margin-bottom: 0
    & + .check-case
        margin-top: 15px

.check-case-filed
    min-height: 40px
    align-items: center
.check-name
    flex: 1 1 auto
    width: calc(100% - 23px)
    font-size: 14px
    line-height: $checkSize
    user-select: none


input[type="checkbox"], input[type="radio"]
    position: absolute
    left: -9999px
    opacity: 0
    &:checked
        & ~ .checkboxes,
        & ~ .radios
            &:before
                opacity: 1
    &.disabled, &[disabled]
        & ~ .checkboxes,
        & ~ .radios
            border: 1px solid $bdColorDisabled
            color: $colorDisabled
            background: $bgColorDisabled
        & ~ .check-name
            color: $colorDisabled
    
.field-case
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
    .check-case
        margin-bottom: 0
    &.invalid
        .field-name,
        .field-help,
        .field,
        .field-icon,
        .checkboxes, 
        .radios,
        .check-case
            color: $colorError
        .field, .checkboxes, .radios
            border: 1px solid $bdColorError
            background: $bgColorError
        .field-appearance:before
            border-top-color: $bdColorError
            